:root {
  --color-main-blue: #1976d2;
  --color-main-blue-100: #2070c0;
  --color-white: #fff;
  --color-white-100: #f6fafd;
  --color-red: #d32f2f;
  --color-gray: #f0f0f0;
  --color-dark-gray: #00000099;
}